@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat";
  background-color: black;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  -webkit-animation: titleAnim 2s ease 0s 1 normal forwards;
          animation: titleAnim 2s ease 0s 1 normal forwards;
}
@-webkit-keyframes titleAnim {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes titleAnim {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
  }
}
body .container .active-note {
  transform: scale(0.9);
  border-color: #695f5c;
  box-shadow: 0 0 1rem #695f5c;
}
body .container .launchpad {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.831);
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(73, 73, 73) 100%);
}
body .container .launchpad .launchpad-title {
  font-size: 2rem;
  text-align: center;
}
body .container .launchpad .first-group,
body .container .launchpad .second-group {
  display: flex;
  gap: 20px;
}
body .container .launchpad .note {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  transition: all 0.07s ease;
}
body .container .launchpad .note > p {
  font-size: 0.8rem;
}
body .container .launchpad .first-group .kick {
  background: rgb(255, 0, 0);
  background: linear-gradient(180deg, rgb(255, 0, 0) 33%, rgb(252, 156, 69) 100%);
  border: 1px solid rgba(255, 0, 0, 0.365);
}
body .container .launchpad .first-group .snare {
  background: rgb(0, 72, 255);
  background: linear-gradient(180deg, rgb(0, 72, 255) 33%, rgb(69, 205, 252) 100%);
  border: 1px solid rgb(0, 72, 255);
}
body .container .launchpad .second-group {
  margin-top: 20px;
}
body .container .launchpad .second-group .hat {
  background: rgb(0, 177, 6);
  background: linear-gradient(180deg, rgb(0, 177, 6) 33%, rgb(252, 250, 69) 100%);
  border: 1px solid rgb(0, 177, 6);
}
body .container .launchpad .second-group .crash {
  background: rgb(176, 0, 255);
  background: linear-gradient(180deg, rgb(176, 0, 255) 33%, rgb(252, 69, 229) 100%);
  border: 1px solid rgb(176, 0, 255);
}
body .container .piano .piano-title {
  margin: 5% auto;
  font-size: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.831);
}
body .container .piano .piano-block {
  max-width: 600px;
  margin: 2% auto;
  display: flex;
  justify-content: center;
  position: relative;
}
body .container .piano .piano-block .note {
  width: 150px;
  height: 300px;
  text-align: start;
  border: 3px solid black;
  border-radius: 0.4rem;
  transition: all 0.07s ease;
}
body .container .piano .piano-block .white {
  background-color: rgba(255, 255, 255, 0.831);
  z-index: 2;
}
body .container .piano .piano-block .white > p {
  padding-top: 260px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}
body .container .piano .piano-block .black {
  width: 40px;
  height: 170px;
  position: absolute;
  left: 0;
  background-color: black;
  z-index: 3;
}
body .container .piano .piano-block .black > p {
  padding-top: 135px;
  color: white;
  font-size: 10px;
  text-align: center;
}
body .container .piano .piano-block .piano-do__black {
  left: 65px;
}
body .container .piano .piano-block .piano-re__black {
  left: 150px;
}
body .container .piano .piano-block .piano-fa__black {
  left: 320px;
}
body .container .piano .piano-block .piano-sol__black {
  left: 405px;
}
body .container .piano .piano-block .piano-la__black {
  left: 492px;
}/*# sourceMappingURL=style.css.map */