@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './variables.scss';

body {
    margin: 0 auto;
    padding: 0;
    font-family: $font;
    background-color: $bgKeysBlackColor;

    .active {
        transform: scale(.90);
        border-color: $activeColor;
        box-shadow: 0 0 1rem $activeColor;
    }

    .title {
        font-size: 5rem;
        text-align: center;
        color: $titleColor;
        animation: titleAnim 2s ease 0s 1 normal forwards;
        // filter: blur(1px);
    }

    @keyframes titleAnim {
        0% {
            opacity: 0;
            filter: blur(10px);
        }

        100% {
            opacity: 1;
        }
    }

    .piano-block {
        max-width: 600px;
        margin: 2% auto;
        display: flex;
        justify-content: center;
        position: relative;
        animation: titleAnim 2s ease 0s 1 normal forwards;

        .active {
            transform: scale(.90);
            border-color: $activeColor;
            box-shadow: 0 0 1rem $activeColor;
        }

        .note {
            width: 150px;
            height: 300px;
            text-align: start;
            border: 3px solid $bgKeysBlackColor;
            border-radius: .4rem;
            transition: all .07s ease;
        }

        .white {
            background-color: $whiteKeysColor;
            z-index: 2;

            >p {
                padding-top: 260px;
                margin: 0 auto;
                text-align: center;
                font-size: 12px;
            }
        }

        .black {
            width: 40px;
            height: 170px;
            position: absolute;
            left: 0;
            background-color: $bgKeysBlackColor;
            z-index: 3;

            >p {
                padding-top: 135px;
                color: $titleColor;
                font-size: 10px;
                text-align: center;
            }
        }

        .piano-do__black {
            left: 65px;
        }

        .piano-re__black {
            left: 150px;
        }

        .piano-fa__black {
            left: 320px;
        }

        .piano-sol__black {
            left: 405px;
        }

        .piano-la__black {
            left: 492px;
        }
    }
}