$font: 'Montserrat';
$titleFont: 'Poppins';
$textColor: #FFF;
// header & title block
$headerBgColor: rgba(0, 0, 0, 0.9);
$linkHoverColor: #EB2828;

$titleBgColor: rgba(0, 0, 0, 0.5);
$pBgColor: #eb282881;
$hoverPlay: #98241e8e;
// piano block
$activeColor: #695f5c;
$bgKeysBlackColor: black;
$titleColor: white;
$whiteKeysColor: rgba(255, 255, 255, 0.831);

$launchpadBg: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(73, 73, 73, 1) 100%);
$launchpadBorderColor: black;
$launchpadTitleColor: rgba(255, 255, 255, 0.831);

$kickColorBg: rgb(255, 0, 0);
$kickColorGrad: linear-gradient(180deg, rgba(255, 0, 0, 1) 33%, rgba(252, 156, 69, 1) 100%);
$kickBorderColor: rgba(255, 0, 0, 0.365);

$snareColorBg: rgb(0, 72, 255);
$snareColorGrad: linear-gradient(180deg, rgba(0, 72, 255, 1) 33%, rgba(69, 205, 252, 1) 100%);

$hatColorBg: rgb(0, 177, 6);
$hatColorGrad: linear-gradient(180deg, rgba(0, 177, 6, 1) 33%, rgba(252, 250, 69, 1) 100%);

$crashColorBg: rgb(176, 0, 255);
$crashColorGrad: linear-gradient(180deg, rgba(176, 0, 255, 1) 33%, rgba(252, 69, 229, 1) 100%);

$musicPageBgColor: rgba(0, 0, 0, 0.5);

$footerLinksColor: rgba(255, 255, 255, 0.642);
$footerBgColor: rgba(0, 0, 0, 0.9);